{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

{% endblock %}

{% block body %}

<div class ="userdata">
    <h1>Result</h1>

    <a href="/dashboard"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    {% for r in response %}
    <!--r[0]: set of questions
        r[1]: set of reference answers
        r[2]: set of student answers
        r[3]: question type
        r[4]: Match the following options
        r[5]: set of scores
        r[6]: max score
    r[4][i][r[1][j]]-->
        {% set score = r[5] | sum() %}
        {% set mc = 0 %}
        <h3>Score: {{score}} / {{r[6]}}</h3>
        {% set len = r[3]|length %}
        {% for i in range(len) %}
            {% if r[3][i] != 2 %}
                <b><p>{{i+1}}. {{r[0][i]}}</p></b>
                <p>Your Answer: {{r[2][i]}}</p>
                <p>Correct Answer: {{r[1][i]}}</p>
                <p>Score: {{r[5][i]}}</p>
            {% else %}  
                
                {% set matchq = r[0][i].split(',') %}
                {% set matchref = r[1][i].split(',') %}
                {% set len2 = matchq | length %}
                <b><p>{{i+1}}. Match the Following</p></b>
                <p style="display: inline-block; width: 300px;"> Question</p>
                <p style="display: inline-block; width: 300px;">Correct Answer</p>
                <p style="display: inline-block; width: 300px;">Your Answer</p>
                <br>
                {% for j in range(len2) %}
                    {% set matchops = r[4][mc].split(',') %}
                    
                    {% set ref = matchref[j] | int %}
                    <p style="display: inline;">{{j + 1}}. </p>
                    <p style="display: inline-block; width: 300px;">{{matchq[j]}}</p>
                    <p style="display: inline-block; width: 300px;">{{matchops[ref -1]}}</p>
                    {% if r[2][i][j] != '' %}
                        {% set stu = r[2][i][j] | int %}
                            <p style="display: inline-block; width: 300px;">{{matchops[stu-1]}}</p>
                    {% else %}
                        <p style="display: inline-block; width: 300px;"></p>
                    {% endif %}
                    <br>
                {% endfor %}
                {% set mc = mc + 1 %}
                <p>Score: {{r[5][i]}}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
   
</div>

{% endblock %}