{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class ="userdata">
    <h1>Test</h1>
    <!--Change the below url to go back to dashboard and go to this page only when student clicks view result-->
    <form action="{{ url_for('student_response') }}" method="POST">
       <!-- <label for="selectedquestion">Choose a question:</label>
        <select name="selectedquestion" id="selectedquestion"> -->
            {% for question in questions %}
                {% for q in question %}
                    <input type="hidden" id="selectedquestion" name="selectedquestion" value = "{{q["questionTitle"]}}">
                    <!-- MCQ -->
                    {% if q["questionType"] == 0 %}
                        <p style="display: inline;">{{q["questionTitle"]}}</p>
                        <br><br>
                        {% set x = q["options"].split(',') %}
                        {% for i in x %}
                            <input type="radio" id="option" name="option" value="{{i}}">
                            <label for="option">{{i}}</label><br>
                        {% endfor %}
                        <br><br>
                    {% endif %}
                    <!-- Fill in the blanks -->
                    {% if q["questionType"] == 1 %}
                        <p style="display: inline;">{{q["questionTitle"]}}</p>
                        <p style="display: inline;">____________</p>
                        <br>
                        <label for="fillanswer">Enter your answer:</label><br>
                        <input type="text" id="fillanswer" name="fillanswer">
                        <br><br>
                    {% endif %}
                    <!-- Match the following -->
                    {% if q["questionType"] == 2 %}
                        <p>Match the following</p><br><br>
                        {% set x = q["questionTitle"].split(',') %}
                        {% set y = q["options"].split(',') %}
                        {% set len = x|length %}
                        <input type="hidden" id="matchmark" name="matchmark" value = "{{len}}">
                        {% for i in range(len) %}
                            <p style="display: inline;">{{i + 1}}. </p>
                            <p style="display: inline-block; width: 300px;">{{x[i]}}</p>
                            <input type="text" id="matchans" name="matchans" size ="1">
                            <p style="display: inline-block; width: 100px;">{{y[i]}}</p>
                            <br><br>
                        {% endfor %}
                    {% endif %}
                    <!-- Descriptive -->
                    {% if q["questionType"] == 3 %}
                        <p style="display: inline;">{{q["questionTitle"]}}</p>
                        <br>
                        <input type="text" id="descanswer" name="descanswer"><br>
                        <br><br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
       <!--  </select> -->
        <br>
        
       
        <input type="submit" value="Submit">
      </form>
      <!--  {% for question in questions %}
            {% for q in question %}
                <tr>
                    <td>{{q["questionTitle"]}}</td>
                    <td>{{ q["referenceAnswer"] }}</td>
                </tr>
                {% endfor %}
        {% endfor %}
        -->
  
</div>
        
            
       
{% endblock %}